body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/*------------
   Top site 
-------------*/


.top-site-section {
  background-color: #161616;
  border-radius: 30px;
  margin: 35px 90px;
}

.top-site-div {
  display: flex;
}

.top-site-info {
  color: white;
  padding-left: 90px;
  width: 50%;
  padding: 90px;
}

.top-site-h1 {
  font-size: 70px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.top-site-info p {
  padding-bottom: 35px;
}

.top-site-a {
  text-decoration: none;
  background-color: #DD0000;
  color: white;
  padding: 16px 25px;
  border-radius: 5px;
  margin-bottom: 100px;
}

.top-site-a:hover {
  background-color: orangered;
}

.fa-chevron-right {
  padding: 0 15px;
}

.top-site-img {
  display: flex;
  width: 50%;
  margin-top: 50px;
  text-align: center;
}

/*-------------
  Second site 
---------------*/

/*---------
    Menu
----------*/
.second-site-section {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  align-items: start;
  margin-top: 150px;
  margin-bottom: 100px;
}

.second-site-menu {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  background-color: #161616;
  width: 180px;
  padding: 15px 50px;
  margin: 0 0px;
  border-radius: 10px;
  margin-left: 15px;
  /* margin-right: 15px; */
}
.second-site-menu-1 a{
  text-decoration: none;
  color: black;
}
.second-site-menu-1 {
  margin-top: 20px;
  background-color: white;
  width: 225px;
  padding: 16px 2px ;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.second-site-menu-2 {
  background-color: white;
  width: 225px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.second-site-menu-3 {
  color: white;
  background-color: red;
  width: 225px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}

/*-----------
    Blogs
------------*/

.second-site-blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.second-site-blog {
  box-shadow: 0 0 10px 1px lightgray;
  border-radius: 10px;
  padding: 10px;
    /* width: 200px; */
    /* margin-right: 0;  */
}

.second-site-blog-img {
  /* margin: 0; */
  /* padding: 0; */
}
.second-site-blog-info{
  padding: 20px;
}
.second-site-blog-info p {
  font-weight: bold;
  font-size: 18px;
}

.fa-message,
.fa-clock {
  color: gray;
  margin-right: 4px;
}

.fa-clock-span,
.fa-message-span {
  color: gray;
  margin-right: 10px;
}

/*---------
   Footer 
----------*/

footer {
  background-color: #161616;
  color: white;
  padding: 100px;
}

footer h1 {
  text-align: center;
}

.footer-name {
  display: flex;
  justify-content: center;
  gap: 35px;
  font-weight: 100;
  color: #B9B9B9;
  padding-top: 25px;
}

.footer-icon {
  text-align: center;
  padding-top: 20px;
  color: #B9B9B9;
}

.fa-facebook {
  padding-right: 30px;
}

.fa-instagram {
  padding-right: 30px;
}

/*-----------------
   Media querry
------------------*/

@media screen and (min-width: 321px) and (max-width: 991px) {
  .second-site-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .second-site-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background-color: black;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 15px;
    /* margin-right: 20px; */
  }
  .second-site-menu-1{
    margin-top: 25px;
    margin-bottom: 16px;
  }
  .second-site-menu-2{
    margin-bottom: 16px;
  }
  .second-site-menu-3{
    margin-bottom: 16px;
  }
  .second-site-section{
    display: flex;
    flex-wrap: wrap;
  }
  .second-site-blog img{
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .second-site-blogs{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .second-site-menu{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    background-color: black;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 15px;
  }
  .footer-name{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}